/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

.anagram_loading {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anagram_loading_text {
    position: absolute;
}

.anagram_loading_icons {
    position: absolute;
    top: 15%;
    height: 100%;
    width: 100%;
    text-align: center;
}

.anagram_loading_icon_1,
.anagram_loading_icon_2,
.anagram_loading_icon_3 {
    margin: 8%;
}

.anagram_loading_icon_1,
.anagram_loading_icon_2 {
    position: relative;
    display: inline-block;
}

.anagram_loading_icon_1::after,
.anagram_loading_icon_2::after {
    content: '';
    position: absolute;
    top: 65%;
    right: -7.4vw;
    width: 6vw;
    height: 0.3vh;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
}

.line_complete::after {
    background-color: rgba(255, 255, 255, 0.8);
}

.anagram_result_screen {
    text-transform: uppercase;
}

.anagram_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.anagram_window_toolbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: rgba(31, 30, 30, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'VT323';
}

.anagram_window_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    border-radius: 0 0 25px 25px;
    background-color: rgba(31, 30, 30, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'VT323';
    font-size: 1.5rem;
}

.anagram_guesses_left {
    margin-left: 1%;
}

.anagram_game_timer {
    margin-right: 1%;
}

.anagram_footer_left {
    width: 70%;
}

.anagram_footer_right {
    width: 30%;
    text-align: right;
    margin-right: 20px;
}

.anagram_guess_input {
    height: 100%;
    width: 46%;
    padding-left: 20px;
    border-radius: 0 0 0 25px;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    font-family: 'VT323';
}

.anagram_submit_button {
    height: 100%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: -10px;
    font-family: 'VT323';
}

.anagram_submit_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.anagram_password {
    width: 100%;
}

.anagram_previous_guesses {
    position: absolute;
    top: 4.5vh;
    left: 0.6vw;
    overflow-y: auto;
    width: 98%;
    height: 88%;
    font-size: 1.5rem;
    font-family: 'VT323';
}

.anagram_previous_guesses div {
    margin-bottom: 5px;
}