/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

@keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulse {
    0% {transform: scale(0.90)}
    70% {transform: scale(1)}
    100% {transform: scale(0.90)}
}

@keyframes rubberband {
    0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
    30% {-webkit-transform: scale3d(1.25, 0.75, 1);transform: scale3d(1.25, 0.75, 1)}
    40% {-webkit-transform: scale3d(0.75, 1.25, 1);transform: scale3d(0.75, 1.25, 1)}
    50% {-webkit-transform: scale3d(1.15, 0.85, 1);transform: scale3d(1.15, 0.85, 1)}
    65% {-webkit-transform: scale3d(.95, 1.05, 1);transform: scale3d(.95, 1.05, 1)}
    75% {-webkit-transform: scale3d(1.05, .95, 1);transform: scale3d(1.05, .95, 1)}
    100% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
}

@keyframes swing {
    20% {-webkit-transform: rotate3d(0, 0, 1, 15deg);transform: rotate3d(0, 0, 1, 15deg)}
    40% {-webkit-transform: rotate3d(0, 0, 1, -10deg);transform: rotate3d(0, 0, 1, -10deg)}
    60% {-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg)}
    80% {-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg)}
    100% {-webkit-transform: rotate3d(0, 0, 1, 0deg);transform: rotate3d(0, 0, 1, 0deg)}
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)}
    40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0)}
    70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0)}
    90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0)}
}

@keyframes flash {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes fade_in_out {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
