/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

.safe_crack_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-container {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#safeCanvas {
    position: absolute;
}

.dial {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(15, 15, 15, 1) 40%, rgba(60, 60, 60, 1) 100%);
    position: absolute;
    border: 5px solid rgba(180, 180, 180, 1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1), inset 5px 5px 50px 5px rgba(0, 0, 0, 1);
}

.dial-center {
    width: 120px;
    height: 120px;
    background: rgba(10, 10, 10, 1);
    border-radius: 50%;
    position: absolute;
    border: 3px solid rgba(180, 180, 180, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.number {
    position: absolute;
    width: 30px;
    top: 46%;
    left: 44%;
    color: rgba(180, 180, 180, 1);
    font-weight: bold;
    text-align: center;
    font-family: 'Orbitron'
}

.lock_icons_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.15);
}

.lock_icons {
    display: flex;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.15);
}

.lock_icons.normal {
    color: rgba(255, 255, 255, 0.5);
}

.lock_icons.highlighted {
    color: rgba(255, 255, 255, 1);
}
